*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}
.col-lg-3 img{
    width: 120px;
    border-radius: 5px;
    
    
}
#roww{
    /* position: relative; */
}
#sec{
    border: 1px solid black;
    padding-top: 20px;
    min-height: 100vh;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 20%; */
    /* width: 20%; */
    /* position: absolute;
    top: 0;
    left: 0; */
}
#sec h5{
    font-size: 20px;
    margin-top: 10px;
}
#ek{
    margin-bottom: 20px;
}
#one{
    color: #009688 !important;
}
#one i{
    margin-right: 15px;
}
#two i{
    margin-right: 15px;
}
#three i{
    margin-right: 15px;
}
#icns{
    /* display: flex !important; */
    border: 1px solid red;
   
}
#sec2{
    /* width: 80%; */
    background-color: rgb(204,204,204,0.3);
    
}
#all{
    background-color: black;
    color: white;
    padding: 7px 15px;
    outline: none;
    border: none;
}
#dmnd{
    background-color: white;
    color: black;
    padding: 7px 15px;
    border: none;
    outline: none;
}
#dmnd i{
    margin-right: 8px;
}
#dmnd:hover{
    background-color: rgb(204,204,204);
}

#photo{
    background-color: white;
    color: black;
    padding: 7px 15px;
    border: none;
    outline: none;
}
#photo i{
    margin-right: 8px;
}
#photo:hover{
    background-color: rgb(204,204,204);
}
.card-img-top:hover{
    opacity: 0.7;
}
.page-link{
    color: black !important;
}
.page-link:hover{
    background-color: black !important;
    color: white !important;
}
.img-fluid{
    height: 300px !important;
}
progress{
    margin-bottom: -40px !important;
}
label{
    margin-top: 30px;
}
#dwnld{
    width: auto !important;
    padding: 10px 17px !important;
    color: white;
    outline: none;
    background-color: #616161;
    
}
#dwnld:hover{
    background-color: rgb(204,204,204);
    color: black;
}
#coll{
    
}