*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card-outer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    border: 1px solid black;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.562);
    width: 400px;
    height: 550px;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
    padding: 1px;
    overflow: hidden;
    display: block;
    
}
.img1 img{
    background-position: center;
    width: 100%;
}
.card-content{
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    background-color: rgba(63, 54, 54, 0.2);
    cursor: pointer;
   transform: translateY(-90%);
}
.card-content:hover{
    transform: translateY(0);
    z-index: 100;
}